networks:
  default:
    name: ${NETWORK_NAME}
    driver: bridge

services:
  watchtower:
    image: ${WATCHTOWER_IMAGE}
    # platform: "linux/amd64"
    container_name: watchtower
    ports:
      - ${WATCHTOWER_PORT}:8080
    environment:
      WATCHTOWER_HTTP_API_TOKEN: ${WATCHTOWER_TOKEN}
      WATCHTOWER_HTTP_API_UPDATE: "1"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always

  pmm-server:
    image: ${PMM_SERVER_IMAGE}
    hostname: pmm-server
    # platform: "linux/amd64"
    container_name: pmm-server
    restart: always
    ports:
      - ${PMM_HTTP_PORT}:80
      - ${PMM_SERVER_PORT}:8443
    volumes:
      - ./volumes/pmm-server-data:/srv
    environment:
      PMM_WATCHTOWER_HOST: http://localhost:8180
      PMM_WATCHTOWER_TOKEN: ${WATCHTOWER_TOKEN}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 30s
      timeout: 10s
      retries: 5

  pmm-client:
    image: ${PMM_CLIENT_IMAGE}
    # platform: "linux/amd64"
    container_name: pmm-client
    environment:
      PMM_AGENT_SERVER_ADDRESS: ${PMM_SERVER_ADDRESS}
      PMM_AGENT_SERVER_USERNAME: ${PMM_SERVER_USER}
      PMM_AGENT_SERVER_PASSWORD: ${PMM_SERVER_PASSWORD}
      PMM_AGENT_SERVER_INSECURE_TLS: "1"
      PMM_AGENT_SETUP: "1"
      PMM_AGENT_CONFIG_FILE: config/pmm-agent.yaml
      PMM_AGENT_SETUP_FORCE: "1"
    volumes:
      - ./volumes/pmm-client-data:/usr/local/percona/pmm/tmp
    restart: unless-stopped
